.main-text {

    color: #e4aa52;
}

.bg {
    background-color: #161A27;
}

.log-btn {
background: rgb(236,144,4);
background: linear-gradient(99deg, rgba(236,144,4,1) 0%, rgba(241,184,99,1) 82%, rgba(255,210,140,1) 100%);
 width: 80%;
 height: 8vh;
 margin-left: -55%;
 border-radius: 5;
 position: fixed;

text-align: center;

}

a.button1{
background: rgb(236,144,4);
background: linear-gradient(99deg, rgba(236,144,4,1) 0%, rgba(241,184,99,1) 82%, rgba(255,210,140,1) 100%);
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.20em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.2s;
}
a.button1:hover{
 color:#000000;
 background-color:#FFFFFF;
}
@media all and (max-width:50em){
 a.button1{
  display:block;
  margin:0.4em auto;
 }
}

a.button2{
 
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.2s;
}
a.button2:hover{
 color:#000000;
 background-color:#FFFFFF;
}
@media all and (max-width:30em){
 a.button2{
  display:block;
  margin:0.4em auto;
 }
}


.me {
    background-color:#F4B84A;
    color: black;
}
.link {
    color: black;
}

.link2 {
    color:#e4aa52;
   margin-right: 3em;
    margin-top: 2em;
}
.link3 {
    color:#e4aa52;
    margin-left: 3em;
    margin-top: 2em;
}

.top-logo {

    color: #f8ad3a;
    margin-top: 2em;
}

.user-img {

    margin-left: 600%;
    position: relative;
}

.new1 {
   background-color:  #f8ad3a;
}

.top {
    color: white;
}

.top-btn {
   
   
    border-radius: 25px;
}

.vl {

    border-left: 1px solid white;
    height: 3em;
}

.service1 {
    margin-left: 6em;
    display: inline-block;
    float: center;


}
.logo {

    width: 80%;
    margin-left: 15%;
    margin-top: 20%;
}

.menu1 {
    width: 2em;
}

.service {
width: 100%;
position: center;


}


.pay {
    width: 2em;
}
.banner {
    width: 100%;
}


.follow {
    margin-left: 80%; 
}

.bg1 {

    background-image: url(../uploads/audi.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.fcolor {
    color: #F4B84A;
}
.banner2 {
    width: 100%;

}
.follow2 {
    margin-left: 77%; 
}

.something {
    height: 5em;
}

.service3 {
     background-color: #1E212C;
     border-radius: 10em;
}

.back {
    width: 18%;
    margin-top: 30%;
    margin-left: 10%;
}

.login-top {
    height: 10em;
}
.sign {
    
    margin-top: 10%;
    margin-left:  30%;
    color: white;
    font-size: 4vw;
}

.log-sign {

    color: white;
    font-weight: bold;
    font-size: 13vw;
    margin-right:55%;
    margin-top: 8%;
    position: relative;
}

.log-line {
  border-top: 2px solid #F4B84A;
  border-radius: 25px;
  overflow: hidden;

}


.log-form {
    color: white;
}

.md-input {
    position: relative;
    margin-bottom: 30px;
    margin-left: 11%;
}
    .md-input .md-form-control {
        font-size: 16px;
        padding: 10px 10px 10px 5px;
        display: block;
        border: none;
        border-bottom: 2px solid #F4B84A;
        box-shadow: none;
        width: 90%;
    }

    .md-input label {
        color: #F4B84A;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .md-input .bar:before {
        left: 50%;
    }

    .md-input .bar:after {
        right: 50%;
    }

    .md-input .highlight {
        position: absolute;
        height: 60%;
        width: 70px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    .md-input .md-form-control:focus ~ label, .md-input .md-form-control:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: white;
}
.md-input .bar:before, .md-input .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #F4B84A;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.md-input .md-form-control:focus ~ .bar:before, .md-input .md-form-control:focus ~ .bar:after {
    width: 10%;
}


.log-button {

    background: rgb(236,144,56);
background: linear-gradient(90deg, rgba(236,144,56,1) 45%, rgba(244,193,95,1) 88%, rgba(244,193,95,1) 100%);
width: 70%;
margin-left: 16%;
height: 50%;
border: none;
border-radius: 30px;
}

.forgot {
   margin-left: 23%;
   font-size: 4vw;
}


.gap5x {
    height: 160px;
}

.i-rent {
     color: white;
    font-weight: bold;
    font-size: 4vw;
    margin-right:55%;
    margin-top: 8%;
    position: relative;
}

.i-box {

    
  background-color: #1E212C;
  width: 30%;
  border: none;
  padding: 5px;
  margin: 5px;
  border-radius: 25px;

}

.i-rent2 {
    width: 100%;
    

}

.i-box:active {
     background-color: #F4B84A;
}

.i-payment {

  background-color: ##1E212C;
  width: 10%;
  border: 1px solid #F4B84A;
  text-align: center;
  margin: 10%;

  border-radius: 25px;
}
.i-payment:active {
     border: 4px solid white;
     color: white;
}


/*CSS3 STROKE EFFECT*/
#mainNav ul {
  list-style: inline;
  margin:0;
  margin-left: -2%;
}
#mainNav ul li {
  display: inline-block;
    display:inline;
    
}
#mainNav ul li a {
  padding-bottom: 10px;
  text-decoration: none;
  color:white;
  font-size: 4vw;
}
#mainNav ul li a,
#mainNav ul li a:after,
#mainNav ul li a:before {
  transition: all .5s;
}
#mainNav ul li a:hover {
  color:#F4B84A;
}

/* stroke */
#mainNav.stroke ul li a
{
  position: relative;
}
#mainNav.stroke ul li a:after,
#mainNav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #F4B84A;
  height: 1px;
}
#mainNav.stroke ul li a:hover:after {
  width: 100%;
}

#mainNav ul li a {
  transition: all 1s;
}

#mainNav ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
#mainNav ul li a:hover {
  color: #F4B84A;
  z-index: 1;
}
#mainNav ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}

.icar-box {

    background-color: #1E212C;
    border: none;
    border-radius: 30px;
    
    width: 80%;
    margin-left: 20%;
}

.icar-img {

    margin-left: -35%;
}

.icar-logo {

    margin-top: -20%;
    margin-left: 8%;
}

.icar-star {
     background-color: #707070;
    border: none;
    border-radius: 30px;
    color: #F4B84A;
    width: 28%;
    margin-left: 20%;
    text-align: center;
}

.star-img {
    margin-top: -8%;
}

.icar-rating {
    margin-left: 55%;
    margin-top: -30%;
}

.icar-text {

margin-left: -20%;
font-size: 4vw;
}

.icar-des {

    color: #535866;
    font-size: 3vw;
    margin-left: -20%;
    margin-top: -9%;
}
.icar-price {
    color: #F4B84A;
     margin-left: -20%;
 margin-top: -7%;
}

.icar-btn {
      background: rgb(236,144,56);
background: linear-gradient(90deg, rgba(236,144,56,1) 45%, rgba(244,193,95,1) 88%, rgba(244,193,95,1) 100%);
width: 100%;
border: none;
border-radius: 20px;
color: white;
}


.irent-now {
    width: 80%;
    border: none;
    border-radius: 25px;
    margin-left: 10%;
    margin-top: -10%;
}

.new1 {
    background-color: #6A6A76;
}

.new2 {
    background-color: #F4B84A;
}


.h-btn:active {

    background-color: #F4B84A;
    
}

.h-box {
    background-color:#1E212C;
    border: none;
    border-radius: 30px;
    width: 30%;
}

.h-carlogo {
    margin-top: -10%;
}

.h-text {

    margin-left: 36%;
    margin-top: -10%;
    font-size: 3vw;
}

.h-text2 {
    margin-left: 70%;
    margin-top: -12%;
}

.icarbook-box {

    background-color: #292D40;
    border: none;
    border-radius: 5px;
}


.icarbook-mask{
    background-color: #535866;
    width: 20%;
    border: none;
    border-radius:100%;
    height: 7%;
    margin-left: -10%;
    margin-top: -10%;
}

.icarbook-img {
    margin-top: 20%;
}

.icarbook-text {
  margin-left: 20%;
  margin-top: -15%;
  font-size: 4vw;
  display: inline-block;
}

.wallet-logo {

width: 20%;
margin-left: 40%;

}

.wallet-name {
  margin-left: 35%;
  font-size: 12vw;
}

.wallet-text {
  margin-left: 32%;
}


.acccount-line {
  background-color: #707070;
 width: 80%;
 margin-left: -1%;
}
