.main-text {

    color: #e4aa52;
}

.bg {
    background-color: #161A27;
}

.log-btn {
background: rgb(236,144,4);
background: linear-gradient(99deg, rgba(236,144,4,1) 0%, rgba(241,184,99,1) 82%, rgba(255,210,140,1) 100%);
 width: 80%;
 height: 8vh;
 margin-left: -55%;
 border-radius: 5;
 position: fixed;

text-align: center;

}

a.button1{
background: rgb(236,144,4);
background: linear-gradient(99deg, rgba(236,144,4,1) 0%, rgba(241,184,99,1) 82%, rgba(255,210,140,1) 100%);
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.20em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.2s;
}
a.button1:hover{
 color:#000000;
 background-color:#FFFFFF;
}
@media all and (max-width:50em){
 a.button1{
  display:block;
  margin:0.4em auto;
 }
}

a.button2{
 
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.2s;
}
a.button2:hover{
 color:#000000;
 background-color:#FFFFFF;
}
@media all and (max-width:30em){
 a.button2{
  display:block;
  margin:0.4em auto;
 }
}


.me {
    background-color:#F4B84A;
    color: black;
}
.link {
    color: black;
}

.link2 {
    color:#e4aa52;
   margin-right: 3em;
    margin-top: 2em;
}
.link3 {
    color:#e4aa52;
    margin-left: 3em;
    margin-top: 2em;
}

.top-logo {

    color: #f8ad3a;
    margin-top: 2em;
}

.user-img {

    margin-left: 13em;
}

.new1 {
   background-color:  #f8ad3a;
}

.top {
    color: white;
}

.top-btn {
   
   
    border-radius: 25px;
}

.vl {

    border-left: 1px solid white;
    height: 3em;
}

.service1 {
    margin-left: 6em;
    display: inline-block;
    float: center;

}
.logo {

    width: 6em;
    margin-left: 1em;
    margin-top: 2em;
}

.menu1 {
    width: 2em;
}

.service {
width: 3em;
position: center;

}


.pay {
    width: 2em;
}
.banner {
    width: 20.5em;
}


.follow {
    margin-left: 16em; 
}

.bg1 {

    background-image: url(../icon/audi.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.fcolor {
    color: #F4B84A;
}
.banner2 {
    width: 18em;

}
.follow2 {
    margin-left: 15em; 
}

.something {
    height: 5em;
}